.item-panel {
  margin: 20px 0;
}

.item-panel-span {
  display: inline-block;
}

.item-name {
  margin-right: 20px;
  font-weight: bold;
}

.item-date {
  font-size: 14px;
  color: #666666;
}

.item-btn {
  margin: 0 10px;
  transition: 0.3s ease-in-out;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 16px;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.delete {
  background: #FF5733;
}

.update {
  background: #E0DF09;
}